.mood-element{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    padding: 4rem;
}

.mood-element button{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #2c2c2c;
    color: aliceblue;
    cursor: pointer;
}


.mood-element button:hover {
    background-color: #444;   /* thoda halka grey */
    transform: scale(1.05);   /* thoda zoom effect */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* shadow add */
}

.user-video-feed{
    width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    object-fit: cover;
}